body {
    font-family: 'Hind', sans-serif;
}

.type-3090 {
    .col-aic {
        display: flex;
        align-items: center;

        img.img-background {
            width: 100%;
        }

        .list-row {
            display: grid;
            gap: 30px;

            .row-content {
                display: flex;

                span.icon-content {
                    font-size: 32px;
                    color: #00aeef;
                    margin-right: 15px;
                }

                div.wrapper-content {
                    p.main-content {
                        font-size: 18px;
                        color: #848484;
                        font-weight: 500;
                    }
                }
            }
        }

        .title-h3 {
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 30px;
        }

        .subtitle-h3 {
            font-size: 20px;
            font-weight: 700;
            margin: 0;
        }
    }
}